[submodule "deps/cdl86"]
	path = deps/cdl86
	url = https://github.com/lunarjournal/cdl86/
[submodule "hl2sdk-cs2"]
	path = hl2sdk-cs2
	url = https://github.com/alliedmodders/hl2sdk
[submodule "hl2sdk-manifests"]
	path = hl2sdk-manifests
	url = https://github.com/alliedmodders/hl2sdk-manifests
[submodule "metamod-source"]
	path = metamod-source
	url = https://github.com/alliedmodders/metamod-source
